<!-- crear_proyecto_paso2.html -->

<div class="step-inner">
    <h3>Paso 2: Contrato</h3>

    {% if form_error %}
        <p id="mensaje-error" style="display:block;">Error: {{ form_error }}</p>
    {% endif %}

    <div class="form-card">
        <label>Número de Contrato:</label>
        <input type="text" name="numero_contrato" value="{{ proyecto_temp.numero_contrato|default:'' }}" required>

        <label>Monto Total:</label>
        <input type="text" name="monto_total" value="{{ proyecto_temp.monto_total|default:'' }}" required>

        <label>Fecha de Creación:</label>
        <input type="date" name="fecha_creacion" value="{{ proyecto_temp.contrato_fecha_creacion|default:'' }}" required>
    </div>
</div>
