<!-- nuevo_requerimiento_paso2.html -->
<div class="step-content" id="step-2" style="display:none;">
    <div class="card">
        <h3>Planificación de Hitos</h3>
        <label for="fecha_primera_revision">Fecha Tentativa de Primera Revisión</label>
        <input type="date" id="fecha_primera_revision" name="fecha_primera_revision" >
        <small>Documento listo para su primera revisión técnica.</small>

        <label for="alertar_dias_revision">Notificación (Días Antes de Revisión)</label>
        <input type="number" id="alertar_dias_revision" name="alertar_dias_revision" min="1" placeholder="Ej: 2" >
        <small>Días de anticipación para enviar alerta por correo a los revisores.</small>

        <label for="fecha_entrega" style="margin-top:20px;">Fecha Tentativa de Entrega Final</label>
        <input type="date" id="fecha_entrega" name="fecha_entrega" >
        <small>Documento finalizado, revisado y aprobado.</small>

        <label for="alertar_dias_entrega">Notificación (Días Antes de Entrega Final)</label>
        <input type="number" id="alertar_dias_entrega" name="alertar_dias_entrega" min="1" placeholder="Ej: 3" >
        <small>Días de anticipación para enviar alerta por correo a los involucrados.</small>
    </div>
</div>
