--
-- PostgreSQL database dump
--

\restrict MygAEZG1Pqb1LsADr4S4NqVqMBnTnPaGnavEaMjboBvpwuNeWU9C8QOnMhuc1C6

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: area_cargo_empresa; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.area_cargo_empresa (
    id integer NOT NULL,
    nombre character varying(255) NOT NULL,
    codigo character varying(20)
);


ALTER TABLE public.area_cargo_empresa OWNER TO django_user;

--
-- Name: area_cargo_empresa_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.area_cargo_empresa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.area_cargo_empresa_id_seq OWNER TO django_user;

--
-- Name: area_cargo_empresa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.area_cargo_empresa_id_seq OWNED BY public.area_cargo_empresa.id;


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO django_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_group_permissions (
    id integer NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO django_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO django_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO django_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_user_groups (
    id integer NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO django_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_user_user_permissions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO django_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cargos_empresa; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.cargos_empresa (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    area_id integer NOT NULL
);


ALTER TABLE public.cargos_empresa OWNER TO django_user;

--
-- Name: cargos_empresa_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.cargos_empresa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cargos_empresa_id_seq OWNER TO django_user;

--
-- Name: cargos_empresa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.cargos_empresa_id_seq OWNED BY public.cargos_empresa.id;


--
-- Name: categoria_documentos_tecnicos; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.categoria_documentos_tecnicos (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text,
    abreviatura character varying(20)
);


ALTER TABLE public.categoria_documentos_tecnicos OWNER TO django_user;

--
-- Name: categoria_documentos_tecnicos_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.categoria_documentos_tecnicos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categoria_documentos_tecnicos_id_seq OWNER TO django_user;

--
-- Name: categoria_documentos_tecnicos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.categoria_documentos_tecnicos_id_seq OWNED BY public.categoria_documentos_tecnicos.id;


--
-- Name: clientes; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    nombre character varying(200) NOT NULL,
    rut character varying(20) NOT NULL,
    direccion character varying(300),
    correo_contacto character varying(150),
    telefono_contacto character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    abreviatura character varying(20)
);


ALTER TABLE public.clientes OWNER TO django_user;

--
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.clientes_id_seq OWNER TO django_user;

--
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- Name: contratos; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.contratos (
    id integer NOT NULL,
    numero_contrato character varying(50) NOT NULL,
    monto_total numeric(15,2),
    fecha_creacion date NOT NULL,
    representante_cliente_nombre character varying(200) NOT NULL,
    representante_cliente_correo character varying(150),
    representante_cliente_telefono character varying(50),
    cliente_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    maquina_id integer,
    fecha_firma date
);


ALTER TABLE public.contratos OWNER TO django_user;

--
-- Name: contratos_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.contratos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.contratos_id_seq OWNER TO django_user;

--
-- Name: contratos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.contratos_id_seq OWNED BY public.contratos.id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO django_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO django_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_migrations (
    id integer NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO django_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO django_user;

--
-- Name: estado_documento; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.estado_documento (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text
);


ALTER TABLE public.estado_documento OWNER TO django_user;

--
-- Name: estado_documento_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.estado_documento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.estado_documento_id_seq OWNER TO django_user;

--
-- Name: estado_documento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.estado_documento_id_seq OWNED BY public.estado_documento.id;


--
-- Name: faenas; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.faenas (
    id integer NOT NULL,
    nombre character varying(200) NOT NULL,
    ubicacion character varying(300),
    cliente_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.faenas OWNER TO django_user;

--
-- Name: faenas_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.faenas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.faenas_id_seq OWNER TO django_user;

--
-- Name: faenas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.faenas_id_seq OWNED BY public.faenas.id;


--
-- Name: log_estado_requerimiento_documento; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.log_estado_requerimiento_documento (
    id integer NOT NULL,
    requerimiento_id integer NOT NULL,
    usuario_id integer,
    fecha_cambio timestamp without time zone DEFAULT now(),
    observaciones text,
    estado_origen_id integer,
    estado_destino_id integer,
    fecha timestamp without time zone DEFAULT now(),
    created_at timestamp without time zone DEFAULT now(),
    rol_id integer
);


ALTER TABLE public.log_estado_requerimiento_documento OWNER TO django_user;

--
-- Name: log_estado_requerimiento_documento_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.log_estado_requerimiento_documento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.log_estado_requerimiento_documento_id_seq OWNER TO django_user;

--
-- Name: log_estado_requerimiento_documento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.log_estado_requerimiento_documento_id_seq OWNED BY public.log_estado_requerimiento_documento.id;


--
-- Name: maquinas; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.maquinas (
    id integer NOT NULL,
    nombre character varying(200) NOT NULL,
    abreviatura character varying(50),
    marca character varying(100),
    modelo character varying(100),
    anio_fabricacion integer,
    tipo character varying(100),
    descripcion text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.maquinas OWNER TO django_user;

--
-- Name: maquinas_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.maquinas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.maquinas_id_seq OWNER TO django_user;

--
-- Name: maquinas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.maquinas_id_seq OWNED BY public.maquinas.id;


--
-- Name: metadato_documento_campo; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.metadato_documento_campo (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    documento_id integer NOT NULL
);


ALTER TABLE public.metadato_documento_campo OWNER TO django_user;

--
-- Name: metadato_documento_campo_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.metadato_documento_campo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.metadato_documento_campo_id_seq OWNER TO django_user;

--
-- Name: metadato_documento_campo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.metadato_documento_campo_id_seq OWNED BY public.metadato_documento_campo.id;


--
-- Name: metadato_documento_columna; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.metadato_documento_columna (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    tabla_id integer NOT NULL
);


ALTER TABLE public.metadato_documento_columna OWNER TO django_user;

--
-- Name: metadato_documento_columna_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.metadato_documento_columna_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.metadato_documento_columna_id_seq OWNER TO django_user;

--
-- Name: metadato_documento_columna_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.metadato_documento_columna_id_seq OWNED BY public.metadato_documento_columna.id;


--
-- Name: metadato_documento_tabla; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.metadato_documento_tabla (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    documento_id integer NOT NULL
);


ALTER TABLE public.metadato_documento_tabla OWNER TO django_user;

--
-- Name: metadato_documento_tabla_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.metadato_documento_tabla_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.metadato_documento_tabla_id_seq OWNER TO django_user;

--
-- Name: metadato_documento_tabla_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.metadato_documento_tabla_id_seq OWNED BY public.metadato_documento_tabla.id;


--
-- Name: proyecto_maquina; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.proyecto_maquina (
    id integer NOT NULL,
    proyecto_id integer NOT NULL,
    maquina_id integer NOT NULL
);


ALTER TABLE public.proyecto_maquina OWNER TO django_user;

--
-- Name: proyecto_maquina_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.proyecto_maquina_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.proyecto_maquina_id_seq OWNER TO django_user;

--
-- Name: proyecto_maquina_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.proyecto_maquina_id_seq OWNED BY public.proyecto_maquina.id;


--
-- Name: proyectos; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.proyectos (
    id integer NOT NULL,
    nombre character varying(150) NOT NULL,
    descripcion text,
    fecha_recepcion_evaluacion date,
    fecha_cierre_proyecto date,
    administrador_id integer,
    numero_orden character varying(50),
    faena_id integer,
    contrato_id integer,
    abreviatura character varying(50),
    fecha_inicio_planificacion date,
    fecha_inicio_ejecucion date
);


ALTER TABLE public.proyectos OWNER TO django_user;

--
-- Name: proyectos_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.proyectos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.proyectos_id_seq OWNER TO django_user;

--
-- Name: proyectos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.proyectos_id_seq OWNED BY public.proyectos.id;


--
-- Name: requerimiento_documento_tecnico; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.requerimiento_documento_tecnico (
    id integer NOT NULL,
    proyecto_id integer NOT NULL,
    tipo_documento_id integer NOT NULL,
    fecha_registro timestamp without time zone DEFAULT now(),
    observaciones text,
    equipo_trabajo_id integer
);


ALTER TABLE public.requerimiento_documento_tecnico OWNER TO django_user;

--
-- Name: requerimiento_documento_tecnico_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.requerimiento_documento_tecnico_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.requerimiento_documento_tecnico_id_seq OWNER TO django_user;

--
-- Name: requerimiento_documento_tecnico_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.requerimiento_documento_tecnico_id_seq OWNED BY public.requerimiento_documento_tecnico.id;


--
-- Name: requerimiento_equipo_rol; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.requerimiento_equipo_rol (
    id integer NOT NULL,
    requerimiento_id integer NOT NULL,
    usuario_id integer NOT NULL,
    rol_id integer NOT NULL,
    fecha_asignacion timestamp without time zone DEFAULT now(),
    activo boolean DEFAULT true
);


ALTER TABLE public.requerimiento_equipo_rol OWNER TO django_user;

--
-- Name: requerimiento_equipo_rol_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.requerimiento_equipo_rol_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.requerimiento_equipo_rol_id_seq OWNER TO django_user;

--
-- Name: requerimiento_equipo_rol_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.requerimiento_equipo_rol_id_seq OWNED BY public.requerimiento_equipo_rol.id;


--
-- Name: roles_ciclodocumento; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.roles_ciclodocumento (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text
);


ALTER TABLE public.roles_ciclodocumento OWNER TO django_user;

--
-- Name: roles_ciclodocumento_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.roles_ciclodocumento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_ciclodocumento_id_seq OWNER TO django_user;

--
-- Name: roles_ciclodocumento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.roles_ciclodocumento_id_seq OWNED BY public.roles_ciclodocumento.id;


--
-- Name: tipo_documentos_tecnicos; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.tipo_documentos_tecnicos (
    id integer NOT NULL,
    categoria_id integer NOT NULL,
    nombre character varying(255) NOT NULL,
    descripcion text,
    creado_en timestamp without time zone DEFAULT now(),
    abreviatura character varying(20)
);


ALTER TABLE public.tipo_documentos_tecnicos OWNER TO django_user;

--
-- Name: tipo_documentos_tecnicos_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.tipo_documentos_tecnicos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tipo_documentos_tecnicos_id_seq OWNER TO django_user;

--
-- Name: tipo_documentos_tecnicos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.tipo_documentos_tecnicos_id_seq OWNED BY public.tipo_documentos_tecnicos.id;


--
-- Name: transiciones_permitidas; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.transiciones_permitidas (
    id integer NOT NULL,
    estado_origen_id integer NOT NULL,
    estado_destino_id integer NOT NULL,
    rol_id integer NOT NULL
);


ALTER TABLE public.transiciones_permitidas OWNER TO django_user;

--
-- Name: transiciones_permitidas_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.transiciones_permitidas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.transiciones_permitidas_id_seq OWNER TO django_user;

--
-- Name: transiciones_permitidas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.transiciones_permitidas_id_seq OWNED BY public.transiciones_permitidas.id;


--
-- Name: usuario_filepreview; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.usuario_filepreview (
    id bigint NOT NULL,
    blob_name character varying(255) NOT NULL,
    expires_at timestamp with time zone,
    signed_url text
);


ALTER TABLE public.usuario_filepreview OWNER TO django_user;

--
-- Name: usuario_filepreview_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.usuario_filepreview ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuario_filepreview_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nombre character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    microsoft_id character varying(255) NOT NULL,
    email_secundario character varying(255),
    telefono_corporativo character varying(20),
    telefono_secundario character varying(20),
    fecha_registro timestamp without time zone,
    cargo_id integer,
    area_trabajo character varying(100)
);


ALTER TABLE public.usuarios OWNER TO django_user;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_seq OWNER TO django_user;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: version_documento_tecnico; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.version_documento_tecnico (
    id integer NOT NULL,
    requerimiento_documento_id integer NOT NULL,
    version character varying(20) NOT NULL,
    estado_id integer NOT NULL,
    fecha timestamp without time zone DEFAULT now(),
    comentario text,
    usuario_id integer,
    signed_url text
);


ALTER TABLE public.version_documento_tecnico OWNER TO django_user;

--
-- Name: version_documento_tecnico_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

CREATE SEQUENCE public.version_documento_tecnico_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.version_documento_tecnico_id_seq OWNER TO django_user;

--
-- Name: version_documento_tecnico_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: django_user
--

ALTER SEQUENCE public.version_documento_tecnico_id_seq OWNED BY public.version_documento_tecnico.id;


--
-- Name: area_cargo_empresa id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.area_cargo_empresa ALTER COLUMN id SET DEFAULT nextval('public.area_cargo_empresa_id_seq'::regclass);


--
-- Name: cargos_empresa id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.cargos_empresa ALTER COLUMN id SET DEFAULT nextval('public.cargos_empresa_id_seq'::regclass);


--
-- Name: categoria_documentos_tecnicos id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.categoria_documentos_tecnicos ALTER COLUMN id SET DEFAULT nextval('public.categoria_documentos_tecnicos_id_seq'::regclass);


--
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- Name: contratos id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.contratos ALTER COLUMN id SET DEFAULT nextval('public.contratos_id_seq'::regclass);


--
-- Name: estado_documento id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.estado_documento ALTER COLUMN id SET DEFAULT nextval('public.estado_documento_id_seq'::regclass);


--
-- Name: faenas id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.faenas ALTER COLUMN id SET DEFAULT nextval('public.faenas_id_seq'::regclass);


--
-- Name: log_estado_requerimiento_documento id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.log_estado_requerimiento_documento ALTER COLUMN id SET DEFAULT nextval('public.log_estado_requerimiento_documento_id_seq'::regclass);


--
-- Name: maquinas id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.maquinas ALTER COLUMN id SET DEFAULT nextval('public.maquinas_id_seq'::regclass);


--
-- Name: metadato_documento_campo id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.metadato_documento_campo ALTER COLUMN id SET DEFAULT nextval('public.metadato_documento_campo_id_seq'::regclass);


--
-- Name: metadato_documento_columna id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.metadato_documento_columna ALTER COLUMN id SET DEFAULT nextval('public.metadato_documento_columna_id_seq'::regclass);


--
-- Name: metadato_documento_tabla id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.metadato_documento_tabla ALTER COLUMN id SET DEFAULT nextval('public.metadato_documento_tabla_id_seq'::regclass);


--
-- Name: proyecto_maquina id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.proyecto_maquina ALTER COLUMN id SET DEFAULT nextval('public.proyecto_maquina_id_seq'::regclass);


--
-- Name: proyectos id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.proyectos ALTER COLUMN id SET DEFAULT nextval('public.proyectos_id_seq'::regclass);


--
-- Name: requerimiento_documento_tecnico id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.requerimiento_documento_tecnico ALTER COLUMN id SET DEFAULT nextval('public.requerimiento_documento_tecnico_id_seq'::regclass);


--
-- Name: requerimiento_equipo_rol id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.requerimiento_equipo_rol ALTER COLUMN id SET DEFAULT nextval('public.requerimiento_equipo_rol_id_seq'::regclass);


--
-- Name: roles_ciclodocumento id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.roles_ciclodocumento ALTER COLUMN id SET DEFAULT nextval('public.roles_ciclodocumento_id_seq'::regclass);


--
-- Name: tipo_documentos_tecnicos id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.tipo_documentos_tecnicos ALTER COLUMN id SET DEFAULT nextval('public.tipo_documentos_tecnicos_id_seq'::regclass);


--
-- Name: transiciones_permitidas id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.transiciones_permitidas ALTER COLUMN id SET DEFAULT nextval('public.transiciones_permitidas_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: version_documento_tecnico id; Type: DEFAULT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.version_documento_tecnico ALTER COLUMN id SET DEFAULT nextval('public.version_documento_tecnico_id_seq'::regclass);


--
-- Data for Name: area_cargo_empresa; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.area_cargo_empresa (id, nombre, codigo) FROM stdin;
1	Logistica y Abastecimiento	LAB
2	Recursos Humanos	RRHH
3	Jefe de Operaciones	OPE
4	Administrador de Contratos	ADC
5	Reclutamiento	R&S
6	Gerencia	G
7	Departamento de Ingenieria	ING
8	Planificaci├│n	PLA
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1		2025-10-29 21:44:28.256978+00	f	2db24c07e9729827	Jonathan Alejandro Oyarce Valdebenito		jonathan.oyarce97@hotmail.com	f	t	2025-10-29 21:44:28.242189+00
2		2025-10-29 22:12:45.449541+00	f	c6d9f32f052bf9a0	Jonaaa Oyarce		cirdanrlz@hotmail.cl	f	t	2025-10-29 22:12:45.441574+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: cargos_empresa; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.cargos_empresa (id, nombre, area_id) FROM stdin;
1	Operador Log├¡stica	1
2	Jefe de Log├¡stica	1
3	Analista RRHH	2
4	Jefe RRHH	2
5	Coordinador de Operaciones	3
6	Administrador de Contratos	4
7	Reclutador	5
8	Gerente General	6
9	Ingeniero	7
10	Planificador/a	8
\.


--
-- Data for Name: categoria_documentos_tecnicos; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.clientes (id, nombre, rut, direccion, correo_contacto, telefono_contacto, created_at, updated_at, abreviatura) FROM stdin;
1	Minera Andes S.A.	76248300-9	Av. Libertador 123, Santiago	contacto@minera-andes.cl	56225550000	2025-10-16 22:24:23	2025-10-16 22:24:23	\N
\.


--
-- Data for Name: contratos; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.contratos (id, numero_contrato, monto_total, fecha_creacion, representante_cliente_nombre, representante_cliente_correo, representante_cliente_telefono, cliente_id, created_at, updated_at, maquina_id, fecha_firma) FROM stdin;
1	OC-2025-001	250000000.00	2025-09-01	Juan P├®rez	juan.perez@andes.cl	56998765432	1	2025-10-16 22:24:23	2025-10-16 22:42:42	1	2025-09-01
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	auth	permission
2	auth	group
3	auth	user
4	contenttypes	contenttype
5	sessions	session
6	admin	logentry
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: estado_documento; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.estado_documento (id, nombre, descripcion) FROM stdin;
1	Borrador	Documento en redacci├│n inicial.
2	En Elaboraci├│n	Documento en Elaboraci├│n/Re-estrucutraci├│n
3	En Revisi├│n	Documento enviado para revisi├│n.
4	En Aprobaci├│n	Documento revisado y pendiente de aprobaci├│n.
5	Aprobado. Listo para Publicaci├│n	Documento aprobado y pendiente de publicaci├│n.
6	Publicado	Documento final publicado y disponible.
7	Re Estructuraci├│n	Documento rechazado, requiere ajustes antes de reenviar a revisi├│n
\.


--
-- Data for Name: faenas; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.faenas (id, nombre, ubicacion, cliente_id, created_at, updated_at) FROM stdin;
1	Faena El Morro	Regi├│n de Atacama, Desierto de Chile	1	2025-10-16 22:24:23	2025-10-16 22:24:23
\.


--
-- Data for Name: log_estado_requerimiento_documento; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.log_estado_requerimiento_documento (id, requerimiento_id, usuario_id, fecha_cambio, observaciones, estado_origen_id, estado_destino_id, fecha, created_at, rol_id) FROM stdin;
1	1	1	2025-10-29 22:12:17.028097	El sistema ha habilitado la plantilla en el repositorio.	\N	1	2025-10-29 22:12:17.028097	2025-10-29 22:12:17.03121	\N
2	1	2	2025-10-29 22:12:53.224932	Evento: crear_documento	\N	2	2025-10-29 22:12:53.224932	2025-10-29 22:12:53.224932	\N
3	1	2	2025-10-29 22:12:57.688363	Evento: enviar_revision	\N	3	2025-10-29 22:12:57.688363	2025-10-29 22:12:57.688363	\N
\.


--
-- Data for Name: maquinas; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.maquinas (id, nombre, abreviatura, marca, modelo, anio_fabricacion, tipo, descripcion, created_at, updated_at) FROM stdin;
1	Excavadora CAT 320	CAT320	Caterpillar	320 GC	2021	Excavadora	Excavadora hidr├íulica de 20 toneladas	2025-10-16 22:42:26	2025-10-16 22:42:26
\.


--
-- Data for Name: metadato_documento_campo; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.metadato_documento_campo (id, nombre, documento_id) FROM stdin;
\.


--
-- Data for Name: metadato_documento_columna; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.metadato_documento_columna (id, nombre, tabla_id) FROM stdin;
\.


--
-- Data for Name: metadato_documento_tabla; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.metadato_documento_tabla (id, nombre, documento_id) FROM stdin;
\.


--
-- Data for Name: proyecto_maquina; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.proyecto_maquina (id, proyecto_id, maquina_id) FROM stdin;
1	1	1
\.


--
-- Data for Name: proyectos; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.proyectos (id, nombre, descripcion, fecha_recepcion_evaluacion, fecha_cierre_proyecto, administrador_id, numero_orden, faena_id, contrato_id, abreviatura, fecha_inicio_planificacion, fecha_inicio_ejecucion) FROM stdin;
1	Proyecto Prueba	Proyecto de prueba para flujo de documentos	2025-10-16	2025-10-16	2	OC-2025-001-PO	1	1	CAT320.PROYECTODEPRUEBAPARAFLUJODEDOCUMENTOS.1005	\N	\N
\.


--
-- Data for Name: requerimiento_documento_tecnico; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.requerimiento_documento_tecnico (id, proyecto_id, tipo_documento_id, fecha_registro, observaciones, equipo_trabajo_id) FROM stdin;
1	1	37	2025-10-29 22:12:17.028033	asd	\N
\.


--
-- Data for Name: requerimiento_equipo_rol; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.requerimiento_equipo_rol (id, requerimiento_id, usuario_id, rol_id, fecha_asignacion, activo) FROM stdin;
1	1	2	1	2025-10-29 22:12:17.032595	t
2	1	1	2	2025-10-29 22:12:17.033666	t
3	1	3	3	2025-10-29 22:12:17.034429	t
\.


--
-- Data for Name: roles_ciclodocumento; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.roles_ciclodocumento (id, nombre, descripcion) FROM stdin;
1	Redactor	Encargado de redactar documentos.
2	Revisor	Encargado de revisar los documentos.
3	Aprobador	Encargado de aprobar y publicar los documentos.
\.


--
-- Data for Name: tipo_documentos_tecnicos; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: transiciones_permitidas; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.transiciones_permitidas (id, estado_origen_id, estado_destino_id, rol_id) FROM stdin;
1	1	2	1
2	2	3	1
3	3	4	2
4	3	7	2
5	4	5	3
6	4	7	3
7	7	3	1
8	5	6	3
\.


--
-- Data for Name: usuario_filepreview; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: version_documento_tecnico; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.version_documento_tecnico (id, requerimiento_documento_id, version, estado_id, fecha, comentario, usuario_id, signed_url) FROM stdin;
1	1	v0.0.0	3	2025-10-29 22:12:57.691237	Evento: enviar_revision	2	https://storage.simulado.com/doc_1_v0.0.0.pdf
\.


--
-- Name: area_cargo_empresa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.area_cargo_empresa_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 24, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: cargos_empresa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.cargos_empresa_id_seq', 1, false);


--
-- Name: categoria_documentos_tecnicos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.categoria_documentos_tecnicos_id_seq', 1, false);


--
-- Name: clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.clientes_id_seq', 1, false);


--
-- Name: contratos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.contratos_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 6, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: estado_documento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.estado_documento_id_seq', 1, false);


--
-- Name: faenas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.faenas_id_seq', 1, false);


--
-- Name: log_estado_requerimiento_documento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.log_estado_requerimiento_documento_id_seq', 3, true);


--
-- Name: maquinas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.maquinas_id_seq', 1, false);


--
-- Name: metadato_documento_campo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.metadato_documento_campo_id_seq', 1, false);


--
-- Name: metadato_documento_columna_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.metadato_documento_columna_id_seq', 1, false);


--
-- Name: metadato_documento_tabla_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.metadato_documento_tabla_id_seq', 1, false);


--
-- Name: proyecto_maquina_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.proyecto_maquina_id_seq', 1, true);


--
-- Name: proyectos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.proyectos_id_seq', 1, false);


--
-- Name: requerimiento_documento_tecnico_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.requerimiento_documento_tecnico_id_seq', 1, true);


--
-- Name: requerimiento_equipo_rol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.requerimiento_equipo_rol_id_seq', 3, true);


--
-- Name: roles_ciclodocumento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.roles_ciclodocumento_id_seq', 1, false);


--
-- Name: tipo_documentos_tecnicos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.tipo_documentos_tecnicos_id_seq', 1, false);


--
-- Name: transiciones_permitidas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.transiciones_permitidas_id_seq', 1, false);


--
-- Name: usuario_filepreview_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.usuario_filepreview_id_seq', 1, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, true);


--
-- Name: version_documento_tecnico_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.version_documento_tecnico_id_seq', 1, true);


--
-- Name: area_cargo_empresa area_cargo_empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.area_cargo_empresa
    ADD CONSTRAINT area_cargo_empresa_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: cargos_empresa cargos_empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.cargos_empresa
    ADD CONSTRAINT cargos_empresa_pkey PRIMARY KEY (id);


--
-- Name: categoria_documentos_tecnicos categoria_documentos_tecnicos_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.categoria_documentos_tecnicos
    ADD CONSTRAINT categoria_documentos_tecnicos_pkey PRIMARY KEY (id);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: contratos contratos_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.contratos
    ADD CONSTRAINT contratos_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: estado_documento estado_documento_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.estado_documento
    ADD CONSTRAINT estado_documento_pkey PRIMARY KEY (id);


--
-- Name: faenas faenas_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.faenas
    ADD CONSTRAINT faenas_pkey PRIMARY KEY (id);


--
-- Name: log_estado_requerimiento_documento log_estado_requerimiento_documento_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.log_estado_requerimiento_documento
    ADD CONSTRAINT log_estado_requerimiento_documento_pkey PRIMARY KEY (id);


--
-- Name: maquinas maquinas_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.maquinas
    ADD CONSTRAINT maquinas_pkey PRIMARY KEY (id);


--
-- Name: metadato_documento_campo metadato_documento_campo_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.metadato_documento_campo
    ADD CONSTRAINT metadato_documento_campo_pkey PRIMARY KEY (id);


--
-- Name: metadato_documento_columna metadato_documento_columna_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.metadato_documento_columna
    ADD CONSTRAINT metadato_documento_columna_pkey PRIMARY KEY (id);


--
-- Name: metadato_documento_tabla metadato_documento_tabla_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.metadato_documento_tabla
    ADD CONSTRAINT metadato_documento_tabla_pkey PRIMARY KEY (id);


--
-- Name: proyecto_maquina proyecto_maquina_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.proyecto_maquina
    ADD CONSTRAINT proyecto_maquina_pkey PRIMARY KEY (id);


--
-- Name: proyecto_maquina proyecto_maquina_proyecto_id_maquina_id_key; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.proyecto_maquina
    ADD CONSTRAINT proyecto_maquina_proyecto_id_maquina_id_key UNIQUE (proyecto_id, maquina_id);


--
-- Name: proyectos proyectos_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.proyectos
    ADD CONSTRAINT proyectos_pkey PRIMARY KEY (id);


--
-- Name: requerimiento_documento_tecnico requerimiento_documento_tecnico_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.requerimiento_documento_tecnico
    ADD CONSTRAINT requerimiento_documento_tecnico_pkey PRIMARY KEY (id);


--
-- Name: requerimiento_equipo_rol requerimiento_equipo_rol_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.requerimiento_equipo_rol
    ADD CONSTRAINT requerimiento_equipo_rol_pkey PRIMARY KEY (id);


--
-- Name: roles_ciclodocumento roles_ciclodocumento_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.roles_ciclodocumento
    ADD CONSTRAINT roles_ciclodocumento_pkey PRIMARY KEY (id);


--
-- Name: tipo_documentos_tecnicos tipo_documentos_tecnicos_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.tipo_documentos_tecnicos
    ADD CONSTRAINT tipo_documentos_tecnicos_pkey PRIMARY KEY (id);


--
-- Name: transiciones_permitidas transiciones_permitidas_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.transiciones_permitidas
    ADD CONSTRAINT transiciones_permitidas_pkey PRIMARY KEY (id);


--
-- Name: transiciones_permitidas uq_transicion; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.transiciones_permitidas
    ADD CONSTRAINT uq_transicion UNIQUE (estado_origen_id, estado_destino_id, rol_id);


--
-- Name: usuario_filepreview usuario_filepreview_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.usuario_filepreview
    ADD CONSTRAINT usuario_filepreview_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: version_documento_tecnico version_documento_tecnico_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.version_documento_tecnico
    ADD CONSTRAINT version_documento_tecnico_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cargos_empresa cargos_empresa_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.cargos_empresa
    ADD CONSTRAINT cargos_empresa_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.area_cargo_empresa(id);


--
-- Name: contratos contratos_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.contratos
    ADD CONSTRAINT contratos_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: transiciones_permitidas fk_estado_destino; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.transiciones_permitidas
    ADD CONSTRAINT fk_estado_destino FOREIGN KEY (estado_destino_id) REFERENCES public.estado_documento(id) ON DELETE CASCADE;


--
-- Name: transiciones_permitidas fk_estado_origen; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.transiciones_permitidas
    ADD CONSTRAINT fk_estado_origen FOREIGN KEY (estado_origen_id) REFERENCES public.estado_documento(id) ON DELETE CASCADE;


--
-- Name: transiciones_permitidas fk_rol; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.transiciones_permitidas
    ADD CONSTRAINT fk_rol FOREIGN KEY (rol_id) REFERENCES public.roles_ciclodocumento(id) ON DELETE CASCADE;


--
-- Name: log_estado_requerimiento_documento log_estado_requerimiento_documento_estado_destino_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.log_estado_requerimiento_documento
    ADD CONSTRAINT log_estado_requerimiento_documento_estado_destino_id_fkey FOREIGN KEY (estado_destino_id) REFERENCES public.estado_documento(id);


--
-- Name: log_estado_requerimiento_documento log_estado_requerimiento_documento_estado_origen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.log_estado_requerimiento_documento
    ADD CONSTRAINT log_estado_requerimiento_documento_estado_origen_id_fkey FOREIGN KEY (estado_origen_id) REFERENCES public.estado_documento(id);


--
-- Name: log_estado_requerimiento_documento log_estado_requerimiento_documento_requerimiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.log_estado_requerimiento_documento
    ADD CONSTRAINT log_estado_requerimiento_documento_requerimiento_id_fkey FOREIGN KEY (requerimiento_id) REFERENCES public.requerimiento_documento_tecnico(id);


--
-- Name: log_estado_requerimiento_documento log_estado_requerimiento_documento_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.log_estado_requerimiento_documento
    ADD CONSTRAINT log_estado_requerimiento_documento_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles_ciclodocumento(id);


--
-- Name: log_estado_requerimiento_documento log_estado_requerimiento_documento_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.log_estado_requerimiento_documento
    ADD CONSTRAINT log_estado_requerimiento_documento_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: metadato_documento_campo metadato_documento_campo_documento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.metadato_documento_campo
    ADD CONSTRAINT metadato_documento_campo_documento_id_fkey FOREIGN KEY (documento_id) REFERENCES public.tipo_documentos_tecnicos(id) ON DELETE CASCADE;


--
-- Name: metadato_documento_columna metadato_documento_columna_tabla_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.metadato_documento_columna
    ADD CONSTRAINT metadato_documento_columna_tabla_id_fkey FOREIGN KEY (tabla_id) REFERENCES public.metadato_documento_tabla(id) ON DELETE CASCADE;


--
-- Name: metadato_documento_tabla metadato_documento_tabla_documento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.metadato_documento_tabla
    ADD CONSTRAINT metadato_documento_tabla_documento_id_fkey FOREIGN KEY (documento_id) REFERENCES public.tipo_documentos_tecnicos(id) ON DELETE CASCADE;


--
-- Name: proyecto_maquina proyecto_maquina_maquina_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.proyecto_maquina
    ADD CONSTRAINT proyecto_maquina_maquina_id_fkey FOREIGN KEY (maquina_id) REFERENCES public.maquinas(id) ON DELETE CASCADE;


--
-- Name: proyecto_maquina proyecto_maquina_proyecto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.proyecto_maquina
    ADD CONSTRAINT proyecto_maquina_proyecto_id_fkey FOREIGN KEY (proyecto_id) REFERENCES public.proyectos(id) ON DELETE CASCADE;


--
-- Name: proyectos proyectos_administrador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.proyectos
    ADD CONSTRAINT proyectos_administrador_id_fkey FOREIGN KEY (administrador_id) REFERENCES public.usuarios(id);


--
-- Name: proyectos proyectos_contrato_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.proyectos
    ADD CONSTRAINT proyectos_contrato_id_fkey FOREIGN KEY (contrato_id) REFERENCES public.contratos(id);


--
-- Name: proyectos proyectos_faena_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.proyectos
    ADD CONSTRAINT proyectos_faena_id_fkey FOREIGN KEY (faena_id) REFERENCES public.faenas(id);


--
-- Name: requerimiento_documento_tecnico requerimiento_documento_tecnico_proyecto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.requerimiento_documento_tecnico
    ADD CONSTRAINT requerimiento_documento_tecnico_proyecto_id_fkey FOREIGN KEY (proyecto_id) REFERENCES public.proyectos(id);


--
-- Name: requerimiento_documento_tecnico requerimiento_documento_tecnico_tipo_documento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.requerimiento_documento_tecnico
    ADD CONSTRAINT requerimiento_documento_tecnico_tipo_documento_id_fkey FOREIGN KEY (tipo_documento_id) REFERENCES public.tipo_documentos_tecnicos(id);


--
-- Name: requerimiento_equipo_rol requerimiento_equipo_rol_requerimiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.requerimiento_equipo_rol
    ADD CONSTRAINT requerimiento_equipo_rol_requerimiento_id_fkey FOREIGN KEY (requerimiento_id) REFERENCES public.requerimiento_documento_tecnico(id);


--
-- Name: requerimiento_equipo_rol requerimiento_equipo_rol_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.requerimiento_equipo_rol
    ADD CONSTRAINT requerimiento_equipo_rol_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles_ciclodocumento(id);


--
-- Name: requerimiento_equipo_rol requerimiento_equipo_rol_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.requerimiento_equipo_rol
    ADD CONSTRAINT requerimiento_equipo_rol_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: tipo_documentos_tecnicos tipo_documentos_tecnicos_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.tipo_documentos_tecnicos
    ADD CONSTRAINT tipo_documentos_tecnicos_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categoria_documentos_tecnicos(id);


--
-- Name: usuarios usuarios_cargo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_cargo_id_fkey FOREIGN KEY (cargo_id) REFERENCES public.cargos_empresa(id);


--
-- Name: version_documento_tecnico version_documento_tecnico_estado_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.version_documento_tecnico
    ADD CONSTRAINT version_documento_tecnico_estado_id_fkey FOREIGN KEY (estado_id) REFERENCES public.estado_documento(id);


--
-- Name: version_documento_tecnico version_documento_tecnico_requerimiento_documento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.version_documento_tecnico
    ADD CONSTRAINT version_documento_tecnico_requerimiento_documento_id_fkey FOREIGN KEY (requerimiento_documento_id) REFERENCES public.requerimiento_documento_tecnico(id);


--
-- Name: version_documento_tecnico version_documento_tecnico_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.version_documento_tecnico
    ADD CONSTRAINT version_documento_tecnico_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict MygAEZG1Pqb1LsADr4S4NqVqMBnTnPaGnavEaMjboBvpwuNeWU9C8QOnMhuc1C6

